@import "Materialize/sass/materialize.scss";

html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.brand-logo {
  margin-left: 30px;

  i {
    float: left;
    margin-right: 10px;
  }
}

.parallax-container {
  .new-note-card {
    margin-top: 80px;
  }

  .input-field input[type=text]:focus + label,
  .input-field textarea:focus + label {
    color: #3949ab !important;
  }

  .input-field input[type=text]:focus,
  .input-field textarea:focus {
    border-bottom: 1px solid #3949ab !important;
    box-shadow: 0 1px 0 0 #3949ab !important;
  }
}

.card-notes {
  padding-bottom: 30px;

  .card-content {
    word-wrap: break-word;
  }

  a {
    margin-left: 15px;
  }
}

.modal-content {
  word-wrap: break-word;
}
